@import-normalize;

.sectionTitle {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
h2,
p,
span,
ul {
  padding: 5px;
  margin: 5px;
}
